[Unit]
Description=Running the TITTIES Telegram bot and speaker engine.
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/titties/t-i-t-t-i-e-s/standalone
ExecStart=/home/titties/.deno/bin/deno task run
Restart=always
RestartSec=5
User=titties

[Install]
WantedBy=multi-user.target
